<%= form_for @user do |f| %>
    <div class="ui form">
      <div class="field">
        <%= f.label :email, 'Email' %>
        <div class="ui left labeled icon input">
          <%= f.text_field :email, placeholder: '请填写真实的Email地址，我们会发送验证邮件验证。' %>
          <i class="mail icon"></i>
        </div>
        <% @user.errors.messages[:email].uniq.each do |e| %>
            <div class="ui red pointing above ui label"><%= e %></div>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :name, '昵称' %>
        <div class="ui left labeled icon input">
          <%= f.text_field :name, placeholder: '这是你在Gamball中显示的名字，至少2个字，最多不超过30个字' %>
          <i class="user icon"></i>

        </div>
        <% @user.errors.messages[:name].uniq.each do |e| %>
            <div class="ui red pointing above ui label"><%= e %></div>
        <% end %>
      </div>
      <div class="two fields">
        <div class="field">
          <%= f.label :password, '密码' %>
          <div class="ui left labeled icon input">
            <%= f.password_field :password, placeholder: '密码至少6位' %>
            <i class="lock icon"></i>

          </div>
          <% @user.errors.messages[:password].uniq.each do |e| %>
              <div class="ui red pointing above ui label"><%= e %></div>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "重复密码" %>
          <div class="ui left labeled icon input">
            <%= f.password_field :password_confirmation, placeholder: '请重复刚才所输入的密码' %>
            <i class="lock icon"></i>
          </div>
          <% @user.errors.messages[:password_confirmation].uniq.each do |e| %>
              <div class="ui red pointing above ui label"><%= e %></div>
          <% end %>
        </div>
      </div>
      <%= f.submit "注册", id: 'submit', class: 'ui blue submit button' %>
    </div>

<% end %>